---
import Layout from '../layout/Layout.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import ValueProposition from '../components/ValueProposition.astro'
import PlanGrid from '../components/PlanGrid.astro'
import Gallery from '../components/Gallery.astro'
import FloatingWhatsApp from '../components/FloatingWhatsApp.astro'
---

<Layout title="Servicios de Rescate Móvil | Asesoría Ejecutiva">
  <Header />
  <main>
    <Hero />
    <ValueProposition />
    <PlanGrid />
    <Gallery />
  </main>
  <FloatingWhatsApp />
</Layout>
